{{!-- <form action="/profile/{{user.username}}/edit-profile" method="post" enctype='multipart/form-data'>

<label for='profilepicture'>Profile Picture
    <input type='file' name='profilepicture' id='profilepicture' class='form-control-file' />
    <input type='text' name='previousUrl' value='{{user.profilepicture}}' hidden/>
</label>

<label for="name">Name
<input type="text" name="name" value="{{user.name}}">
</label>

<label for="surname">Surname
<input type="text" name="surname" value="{{user.surname}}">
</label>

<label for="campus">Campus
   <select name="campus" id="campus" value="{{user.campus}}"> Campus
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="London">London</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="S達o Paulo">S達o Paulo</option>
      <option value="Remote">Remote</option>
  </select>
</label>

<label for="course">Course
   <select name="course" id="course" value="{{user.course}}">Course
      <option value="Web Dev">Web Dev</option>
      <option value="UX/UI">UX/UI</option>
      <option value="Data">Data Analyst</option>
      <option value="Cybersecurity">Cybersecurity</option>
  </select>
</label>

<label for="location">Location
<input type="text" name="location" value="{{user.location}}">
</label>

<label for="email">Email
<input type="email" name="email" value="{{user.email}}">
</label>

<label for="website">Website
<input type="text" name="website" value="{{user.website}}">
</label>

<label for="linkedin">Linkedin
<input type="text" name="linkedin" value="{{user.linkedin}}">
</label>

<label for="instagram">Instagram
<input type="text" name="instagram" value="{{user.instagram}}">
</label>

<label for="bio">Bio
<textarea name="bio" id="bio" cols="30" rows="10">{{user.bio}}</textarea>
</label>


<button type="submit">Edit Profile</button>
</form>

<button><a href="/profile/{{user.username}}/delete-profile">Delete Profile</a></button> --}}






<iframe class="z-0 h-full w-full" src='https://my.spline.design/bandingcopy-911fb32df568877dfd6accf77c314a29/' frameborder='0'>
</iframe>
<div class="card w-96 mt-16 glass z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
{{!--   <figure><img class="w-20 mt-4" src="/images/ironhub_nobg.png" alt="Ironhub"></figure> --}}

  <div class="card-body">


<form action="/profile/{{user.username}}/edit-profile" method="POST" class='form-control-file'>

<label class="block mb-4 mt-4 text-sm font-medium  dark:text-gray-300 text-center text-white"for='profilepicture'>Profile Picture
<input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type='file' name='profilepicture' id='profilepicture' class='form-control-file'  />
    <input type='text' name='previousUrl' value='{{user.profilepicture}}' hidden/>
</label>
   <div class="card-actions justify-center">
     <label class="card-title justify-center text-white"for="name">
      <input class="input input-bordered w-full max-w-xs mt-1 text-center opacity-95" type="text" name="name" value="{{user.name}}">
   </label>
   

   <label class="card-title justify-center text-white"for="Surname">
      <input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" name="surname" value="{{user.surname}}">
   </label>

 {{!--   <label class="card-title justify-center text-white" for="Password">
      <input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" type="password" name="password" placeholder="Password">
   </label> --}}
 {{!--    <label for="Campus"></label>
   <select class="select select-bordered w-full max-w-xs text-center mt-4 opacity-95" name="campus" id="campus" value="{{user.campus}}"> Campus
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="London">London</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="S達o Paulo">S達o Paulo</option>
      <option value="Remote">Remote</option>
   </select>
   </label>

     <label for="course"></label>

      <select class="select select-bordered w-full max-w-xs mt-4 text-center opacity-95" name="course" id="course" value="{{user.course}}"> Course
      <option value="Web Dev">Web Dev</option>
      <option value="UX/UI">UX/UI</option>
      <option value="Data Analyst">Data Analyst</option>
      <option value="Cybersecurity">Cybersecurity</option>
   </select>
   </label> --}}

   <label for="location">Location
<input type="text" name="location" value="{{user.location}}">
</label>

<label for="email">Email
<input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" type="email" name="email" value="{{user.email}}">
</label>

<label for="website">Website
<input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" type="text" name="website" value="{{user.website}}">
</label>

<label for="linkedin">Linkedin
<input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" type="text" name="linkedin" value="{{user.linkedin}}">
</label>

<label for="instagram">Instagram
<input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" type="text" name="instagram" value="{{user.instagram}}">
</label>

<label for="bio">Bio
<textarea class="textarea mt-10" name="bio" id="bio">{{user.bio}}</textarea>
</label>

   </div>
   <div class="card-actions justify-center">
   <button class="btn btn-sm btn-wide text-white btn-outline mt-6"><a href="/profile/{{user.username}}/delete-profile">Delete Profile</a></button>
<button type="submit">Edit Profile</button>
</form>
   </div>

{{#if errorMessage}}
<div id="alert-additional-content-2" class="p-2 mb-5 border border-red-200 rounded-lg bg-red-50 dark:bg-red-200" role="alert">
  <div class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800 text-center">
    {{errorMessage}}
    <p class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800 text-center">Please, reload the page</p>
  </div>
</div>
{{/if}}

</div>
</div>
