<iframe class="z-0 h-full w-full" src='https://my.spline.design/bandingcopy-911fb32df568877dfd6accf77c314a29/' frameborder='0'>
</iframe>
<div class="card w-100 mt-16 glass z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">

  <div class="card-body">


<form action="/profile/{{user.username}}/edit-profile" method="POST" class='form-control-file' enctype="multipart/form-data">
<label class="block text-sm font-medium dark:text-gray-300 text-center text-white"for='profilepicture'>Profile Picture:
<input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type='file' name='profilepicture' id='profilepicture' class='form-control-file'  />
    <input type='text' name='previousUrl' value='{{user.profilepicture}}' hidden/>
</label>

   <div class="card-actions justify-center">
     <label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center " for="name">Name:
      <input class="input input-bordered w-full max-w-xs text-center rounded-full opacity-95 text-stone-600" type="text" name="name" value="{{user.name}}">
   </label>

   <label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center " for="Surname">Surname:
      <input class="input input-bordered w-full max-w-xs rounded-full text-center opacity-95 text-stone-600" type="text" name="surname" value="{{user.surname}}">
   </label>

   <label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center " for="location">Location:
<input class="input input-bordered w-full max-w-xs text-center rounded-full opacity-95 text-stone-600" type="text" name="location" value="{{user.location}}">
</label>

<label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center " for="email">Email:
<input class="input input-bordered w-full max-w-xs text-center rounded-full opacity-95 text-stone-600" type="text" name="email" value="{{user.email}}">
</label>

<label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center " for="website">Website:
<input class="input input-bordered w-full max-w-xs text-center rounded-full opacity-95 text-stone-600" type="text" name="website" value="{{user.website}}">
</label>

<label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center " for="linkedin">Linkedin:
<input class="input input-bordered w-full max-w-xs rounded-full text-center opacity-95 text-stone-600" type="text" name="linkedin" value="{{user.linkedin}}">
</label>

<label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center" for="instagram">Instagram:
<input class="input input-bordered w-full max-w-xs rounded-full text-center opacity-95 text-stone-600" type="text" name="instagram" value="{{user.instagram}}">
</label>

<label class="card-title block text-sm mt-1 font-medium dark:text-gray-300 text-center" for="bio">Bio:
<textarea class="textarea w-full max-w-xs rounded-full text-center opacity-95" name="bio" id="bio">{{user.bio}}</textarea>
</label>

   </div>
   <div class="card-actions justify-center">
   <button class="btn btn-sm btn-wide text-white rounded-full btn-outline mt-6"><a href="/profile/{{user.username}}/delete-profile">Delete Profile</a></button>
<button class="btn btn-sm btn-wide text-white rounded-full btn-outline mt-6 ml-3" type="submit">Edit Profile</button>
</form>
   </div>


{{#if errorMessage}}
<div id="alert-additional-content-2" class="p-2 mb-5 border border-red-200 rounded-lg bg-red-50 dark:bg-red-200" role="alert">
  <div class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800 text-center">
    {{errorMessage}}
  </div>
</div>
{{/if}}

</div>
</div>

<footer class="footer footer-center p-1 bg-base-100 text-base-content">
  <div>
    <p>Developed and Designed by <br><a href="https://github.com/lzaquine" target="_blank">Lucas Zaquine</a> & <a href="https://github.com/pveg" target="_blank">Paulo Torres</a></p>
  </div>
</footer>
