<h1>Edit profile {{username}}</h1>

<form action="/profile/{{username}}/edit-profile" method="post" enctype='multipart/form-data'>

<label for="name">Name</label>
<input type="text" name="name" value="{{name}}">

<label for="surname">Surname</label>
<input type="text" name="surname" value="{{surname}}">

<label for="campus">Campus</label>
   <select name="campus" id="campus" value="{{campus}}"> Campus
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="London">London</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="São Paulo">São Paulo</option>
      <option value="Remote">Remote</option>
  </select>
</label>

<label for="course">Course</label>
   <select name="course" id="course" value="{{course}}">Course
      <option value="Web Dev">Web Dev</option>
      <option value="UX/UI">UX/UI</option>
      <option value="Data">Data Analyst</option>
      <option value="Cybersecurity">Cybersecurity</option>
  </select>
</label>

<label for='profilepicture'>Profile Picture</label>
    <input type='file' name='profilepicture' id='profilepicture' class='form-control-file' />
    <input type='text' name='previousUrl' value='{{profilepicture}}' hidden/>


<button type="submit">Edit Profile</button>
<a href="/">Back</a>
</form>