<img src="{{user.profilepicture}}" alt="{{course}}">

<div class="about-me">
<h4>About me</h4>
<p>Name: {{user.name}}</p>
<p>Surname: {{user.surname}}</p>
<p>Campus: {{user.campus}}</p>
<p>Course: {{user.course}}</p>
<p>Location: {{user.location}}</p>
<p>Email: {{user.email}}</p>
<p>Website: <a href="//{{user.website}}" target='_blank'>{{user.website}}</a></p>
<p>Linkedin: <a href="//{{user.linkedin}}" target='_blank'>{{user.linkedin}}</a></p>
<p>Instagram: <a href="//{{user.instagram}}" target='_blank'>{{user.instagram}}</a></p>
</div>

<div class="bio">
<h4>Bio:</h4>
<p>{{user.bio}}</p>
</div>

{{#ifEquals user.username currentUser.username}}
<h1>Hello {{currentUser.username}}</h1>
<button><a href="/profile/{{currentUser.username}}/edit-profile">Edit Profile</a></button>
<button><a href="/{{currentUser.username}}/projects/new">Add Project</a></button>
{{/ifEquals}}


<button><a href="/{{user.username}}/projects">Projects</a></button>
<button><a href="/search">Back</a></button>