<h1>Profile</h1>

<h1>Hello {{username}}</h1>
<p>Name: {{name}}</p>
<p>Surname: {{surname}}</p>
<p>Campus: {{campus}}</p>
<p>Course: {{course}}</p>

<img src="{{profilepicture}}" alt="{{course}}">

<button><a href="/profile/{{username}}/edit-profile">Edit Profile</a></button>
<button><a href="/">Back</a></button>