<h1>Search Results</h1>

{{#each results}}
<img src="{{this.profilepicture}}" alt="{{this.username}}">
<h1>{{this.username}}</h1>
<p>{{this.course}}</p>
<p>{{this.campus}}</p>
<button><a href="/profile/{{this.username}}">Go to Profile</a></button>
{{/each}}


<button><a href="/search">Back to Search</a></button>
