
{{!-- <iframe class="z-0 h-full w-full" src='https://my.spline.design/bandingcopy-911fb32df568877dfd6accf77c314a29/' frameborder='0'>
</iframe>

<div class="card w-96 glass z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div class="card-body">
    <div class="card-actions justify-center">
<h1 class="card-title text-white">Search Results</h1>

{{#each results}}
 <div class="card-actions justify-center">
<img src="{{this.profilepicture}}" alt="{{this.username}}">
<h1 class="card-title justify-center text-white">{{this.username}}</h1>
<p class="card-title justify-center text-white">{{this.course}}</p>
<p class="card-title justify-center text-white">{{this.campus}}</p>
<button class="btn btn-sm btn-wide text-white btn-outline mt-6"><a href="/profile/{{this.username}}">Go to Profile</a></button>
</div>
{{/each}}

  </div>
</div>
<div class="card-actions justify-center">
<button class="btn btn-sm btn-wide text-white btn-outline mb-4 "><a href="/search">Back to Search</a></button>
</div>
</div> --}}

<h1>Search Results</h1>

{{#each results}}
<img src="{{this.profilepicture}}" alt="{{this.username}}">
<h1>{{this.username}}</h1>
<p>{{this.course}}</p>
<p>{{this.campus}}</p>
<button><a href="/profile/{{this.username}}">Go to Profile</a></button>
{{/each}}


<button><a href="/search">Back to Search</a></button>
