<h1>Search Results</h1>

{{#each users}}
<h1>{{this.username}}</h1>
{{#each projects}}
<img src="{{image}}">
<h1>{{title}}</h1>
<p>{{description}}</p>
{{/each}}

{{/each}}

<button><a href="/">Main Page</a></button>
<button><a href="/search">Search</a></button>
<button><a href="/auth/logout">Logout</a></button>
<button><a href="/profile/{{user.username}}">Profile</a></button>