{{!-- <h1>Hello, {{currentUser.username}}</h1>
<form action="/projects/{{projectid}}/edit-project" method="POST" enctype='multipart/form-data'>

    <label for="title">Title</label>
    <input type="text" name="title" value="{{title}}">

    <label for="description">Description</label>
    <input type="text" name="description" value="{{description}}">

    <label for="link">Link</label>
    <input type="text" name="link" value="{{link}}">

    <label for="image">Image</label>
    <input type="file" name="image" value="{{image}}">
    -- --}}
{{!-- {{#ifEquals user.username currentUser}}
    <button type="submit">Edit Project</button>
    <button><a href="/projects/{{projectid}}/delete-project/">Delete Project</a></button>
 {{/ifEquals}} 
   <a href="/{{currentUser.username}}/projects">Back</a>
</form>  --}}




<iframe class="z-0 h-full w-full" src='https://my.spline.design/bandingcopy-911fb32df568877dfd6accf77c314a29/' frameborder='0'>
</iframe>
<div class="card w-96 mt-4 glass z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  {{!-- <img class="w-20 mt-4" src="/images/ironhub_nobg.png" alt="Ironhub"> --}}

  <div class="card-body">

<form action="/projects/{{project._id}}/edit-project" method="POST" enctype='multipart/form-data'>

     <label class="block mb-4 text-sm font-medium dark:text-gray-300 text-center text-white" for="title">Title:
      <input class="input input-bordered w-full rounded-full max-w-xs text-center opacity-95" type="text" name="title" value="{{project.title}}">
   </label>
   <label class="block mb-4 text-sm font-medium dark:text-gray-300 text-center text-white" for="description"> Description:
      <input class="input input-bordered w-full rounded-full max-w-xs text-center opacity-95" type="text" name="description" value="{{project.description}}">
</label>
   <label class="block mb-4 text-sm font-medium dark:text-gray-300 text-center text-white" for="link">Link:
      <input class="input input-bordered w-full rounded-full max-w-xs text-center opacity-95" type="text" name="link" value="{{project.link}}">
</label>
      {{!-- <label class="block text-sm font-medium dark:text-gray-300 text-center text-white" for="image">Image:</label>
<input class="block w-full text-sm mb-4 text-gray-900 rounded-full bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="multiple_files" type="file" name="image">
 --}}

   <div class="card-actions justify-center">

   <button class="btn btn-sm btn-wide text-white rounded-full btn-outline mt-3" type="submit">Edit Project</button>
   </div>

</form>
   <div class="card-actions justify-center">
   <button class="btn rounded-full btn-sm btn-wide text-white btn-outline mt-1" type="submit"><a href="/projects/{{projectid}}/delete-project/">Delete Project</a></button>
   <a href="/{{currentUser.username}}/projects"><button class="btn btn-sm rounded-full btn-wide text-white btn-outline mt-5" type="submit">Back to Projects</button></a>
   </div>
   </div>

{{#if errorMessage}}
<div id="alert-additional-content-2" class="p-2 mb-5 border border-red-200 rounded-lg bg-red-50 dark:bg-red-200" role="alert">
  <div class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800 text-center">
    {{errorMessage}}
    <p class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800 text-center">Please, reload the page</p>
  </div>
</div>
{{/if}}

</div>
</div>

<footer class="footer footer-center p-1 bg-base-100 text-base-content">
  <div>
    <p>Developed and Designed by <br><a href="https://github.com/lzaquine" target="_blank">Lucas Zaquine</a> & <a href="https://github.com/pveg" target="_blank">Paulo Torres</a></p>
  </div>
</footer>