<h1>{{user.username}}'s Projects</h1>

{{#each user}}
    {{#each projects}}
    <img src="{{this.image}}">
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.link}}</p>
    <a href="//{{this.link}}" target='_blank'>Link for the project</a>
    <a href="/projects/{{id}}/edit-project">Edit Project</a>
    <a href="/projects/{{id}}/delete-project/">DELETE</a>
    {{/each}}
{{/each}}
    
    <a href="/">Back</a>
    <a href="/{{user.username}}/projects/new">New Project</a>
