<h1>{{user.username}}'s Projects</h1>

{{#each user}}
    {{#each projects}}
    <img src="{{this.image}}">
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.link}}</p>
    <a href="//{{this.link}}" target='_blank'>Link for the project</a>
    <a href="/projects/{{id}}/edit-project">Edit Project</a>
    <form action="/{{id}}/comments" method="post">
    <label for="comments">
        <textarea name="comments" id="comments" cols="30" rows="10">

        </textarea>
        
    </label>
    <button type="submit"> Send comment </button>
    </form>
    <div>
        <h6>Comments</h6>
        {{#each this.comments}}
            <p>{{this.comment}}</p>
        {{/each}}
    </div>
    {{/each}}
{{/each}}
    
    <a href="/profile/{{user.username}}">Back to Profile</a>
    <a href="/{{user.username}}/projects/new">New Project</a>
