<h1>{{user.username}}'s Projects</h1>

{{#each user}}
    {{#each projects}}
    <img src="{{this.image}}">
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.link}}</p>
    <a href="//{{this.link}}" target='_blank'>Link for the project</a>
    <a href="/projects/{{this._id}}/edit-project">Edit Project</a>
    <form action="/{{this._id}}/comments" method="post">
    <label for="comments">
    <input type="text" name="comments">
        
    </label>
    <button type="submit"> Send comment </button>
    </form>
    <div>
        <h3>Comments</h3>
        {{#each this.comments}}
        <h1>{{this.author}}</h1>
            <p>{{this.comment}}</p>
        {{/each}}
    </div>
    {{/each}}
{{/each}}
    
    <a href="/profile/{{user.username}}">Back to Profile</a>
    <a href="/{{user.username}}/projects/new">New Project</a>
