<h1>{{user.username}}'s Projects</h1>

{{#each user}}
    {{#each projects}}
    <h1>{{this.author}}</h1>
    <img src="{{this.image}}">
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.link}}</p>
    <a href="//{{this.link}}" target='_blank'>Link for the project</a>
<a href="/projects/{{id}}/edit-project">Edit Project</a>
    {{/each}}
{{/each}}

<a href="/">Back</a>
<a href="/{{user.username}}/projects/new">New Project</a>
